.mymenu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mymenu .nav-item {
  margin-right: 10px;
}

.mymenu .nav-link {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
}

.mymenu .nav-link:hover {
  background-color:mistyrose; 
}

.mymenu .nav-link i {
  font-size: 28px;
}

h5 {
    text-align: center;
    color: #ffffff; 
    background-color: #000000;
    padding: 10px; 
    margin-top: 20px;
}
